/* Tablet Breakpoint */
@media (max-width: 1000px) {
  /* ======= Nav & Header ======= */
  nav {
    padding: 0px 15px;
  }

  /* ======= Footer ======= */
  footer {
    padding: 0px 20px;
  }

  footer .footer-logo {
    height: 30px;
  }

  footer .footer-left h3 {
    font-size: 12px;
  }

  footer .footer-center {
    font-size: 12px;
  }

  footer .footer-right ul li .icon-box {
    margin: 0px 5px;
  }
}

/* Mobilephone Breakpoint */
@media (max-width: 670px) {
  /* ======= Nav & Header ======= */
  nav {
    height: 8vh;
  }

  nav .brand-logo {
    height: 38px;
  }
  nav ul {
    display: none;
  }

  nav #btn-order {
    display: none;
  }

  nav .burger-menu {
    display: block;
  }

  header {
    background-position-x: -400px;
    position: relative;
  }

  header .head-container {
    width: 100%;
    padding: 0px 10px;
  }

  header .head-container h1 {
    font-size: 50px;
  }

  header .scroll-down h2 {
    font-size: 12px;
  }

  /* ======= Footer ======= */
  footer {
    padding: 10px 0px;
    height: max-content;
    flex-direction: column;
  }

  footer .footer-logo {
    height: 35px;
  }

  footer .footer-left h3 {
    font-size: 10px;
    letter-spacing: 1px;
  }

  footer .footer-left {
    text-align: center;
  }

  footer .footer-center {
    order: 3;
    align-self: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  footer .footer-right {
    margin: 15px;
  }
}
